.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav_links {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;

    .bare_link {
      text-decoration: none;
      color: #000;
    }

  }

  .nav_space {
    flex: 2;
  }

  .logo_holder {
    img {
      background-size: contain;
      width: 80%;
      height: 80%;
    }
  }
}

.navbar_container {
  padding: 20px;
}